{% extends "store/base.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
  <h1>{{ item.name }}</h1>
  <p>{{ item.description }}</p>
  <p>{{ item.price|floatformat:2 }} {{ item.currency|upper }}</p>

  <button id="buy-button">Купить</button>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const stripe = Stripe("{{ stripe_public_key }}");
    const buyButton = document.getElementById("buy-button");

    buyButton.addEventListener("click", function () {
      fetch(`/buy/{{ item.id }}/`)
        .then(response => response.json())
        .then(data => stripe.redirectToCheckout({ sessionId: data.id }));
    });
  </script>
{% endblock %}
